<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cfc.cfcbackend.db.mappers.ElectricityResultsMapper">
  <resultMap id="BaseResultMap" type="com.cfc.cfcbackend.db.po.ElectricityResults">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="egrid_subregion_acronym" jdbcType="VARCHAR" property="egridSubregionAcronym" />
    <result column="electricity_used_mwh" jdbcType="REAL" property="electricityUsedMwh" />
    <result column="co2_emission_kg" jdbcType="REAL" property="co2EmissionKg" />
    <result column="ch4_emission_g" jdbcType="REAL" property="ch4EmissionG" />
    <result column="n2o_emission_g" jdbcType="REAL" property="n2oEmissionG" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, egrid_subregion_acronym, electricity_used_mwh, co2_emission_kg, ch4_emission_g, 
    n2o_emission_g
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from electricityresults
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from electricityresults
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cfc.cfcbackend.db.po.ElectricityResults">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into electricityresults (user_id, egrid_subregion_acronym, electricity_used_mwh, 
      co2_emission_kg, ch4_emission_g, n2o_emission_g
      )
    values (#{userId,jdbcType=INTEGER}, #{egridSubregionAcronym,jdbcType=VARCHAR}, #{electricityUsedMwh,jdbcType=REAL}, 
      #{co2EmissionKg,jdbcType=REAL}, #{ch4EmissionG,jdbcType=REAL}, #{n2oEmissionG,jdbcType=REAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cfc.cfcbackend.db.po.ElectricityResults">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into electricityresults
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="egridSubregionAcronym != null">
        egrid_subregion_acronym,
      </if>
      <if test="electricityUsedMwh != null">
        electricity_used_mwh,
      </if>
      <if test="co2EmissionKg != null">
        co2_emission_kg,
      </if>
      <if test="ch4EmissionG != null">
        ch4_emission_g,
      </if>
      <if test="n2oEmissionG != null">
        n2o_emission_g,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="egridSubregionAcronym != null">
        #{egridSubregionAcronym,jdbcType=VARCHAR},
      </if>
      <if test="electricityUsedMwh != null">
        #{electricityUsedMwh,jdbcType=REAL},
      </if>
      <if test="co2EmissionKg != null">
        #{co2EmissionKg,jdbcType=REAL},
      </if>
      <if test="ch4EmissionG != null">
        #{ch4EmissionG,jdbcType=REAL},
      </if>
      <if test="n2oEmissionG != null">
        #{n2oEmissionG,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cfc.cfcbackend.db.po.ElectricityResults">
    update electricityresults
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="egridSubregionAcronym != null">
        egrid_subregion_acronym = #{egridSubregionAcronym,jdbcType=VARCHAR},
      </if>
      <if test="electricityUsedMwh != null">
        electricity_used_mwh = #{electricityUsedMwh,jdbcType=REAL},
      </if>
      <if test="co2EmissionKg != null">
        co2_emission_kg = #{co2EmissionKg,jdbcType=REAL},
      </if>
      <if test="ch4EmissionG != null">
        ch4_emission_g = #{ch4EmissionG,jdbcType=REAL},
      </if>
      <if test="n2oEmissionG != null">
        n2o_emission_g = #{n2oEmissionG,jdbcType=REAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cfc.cfcbackend.db.po.ElectricityResults">
    update electricityresults
    set user_id = #{userId,jdbcType=INTEGER},
      egrid_subregion_acronym = #{egridSubregionAcronym,jdbcType=VARCHAR},
      electricity_used_mwh = #{electricityUsedMwh,jdbcType=REAL},
      co2_emission_kg = #{co2EmissionKg,jdbcType=REAL},
      ch4_emission_g = #{ch4EmissionG,jdbcType=REAL},
      n2o_emission_g = #{n2oEmissionG,jdbcType=REAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>