<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cfc.cfcbackend.db.mappers.EmissionfactorsMapper">
  <resultMap id="BaseResultMap" type="com.cfc.cfcbackend.db.po.Emissionfactors">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="factor" jdbcType="VARCHAR" property="factor" />
  </resultMap>
  <sql id="Base_Column_List">
    id, factor
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from emissionfactors
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from emissionfactors
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cfc.cfcbackend.db.po.Emissionfactors">
    insert into emissionfactors (id, factor)
    values (#{id,jdbcType=INTEGER}, #{factor,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cfc.cfcbackend.db.po.Emissionfactors">
    insert into emissionfactors
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="factor != null">
        factor,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="factor != null">
        #{factor,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cfc.cfcbackend.db.po.Emissionfactors">
    update emissionfactors
    <set>
      <if test="factor != null">
        factor = #{factor,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cfc.cfcbackend.db.po.Emissionfactors">
    update emissionfactors
    set factor = #{factor,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>