<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cfc.cfcbackend.db.mappers.EmissionFactorsMapper">
  <resultMap id="BaseResultMap" type="com.cfc.cfcbackend.db.po.EmissionFactors">
    <id column="factor_id" jdbcType="INTEGER" property="factorId" />
    <result column="scope" jdbcType="CHAR" property="scope" />
    <result column="category" jdbcType="VARCHAR" property="category" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
  </resultMap>
  <sql id="Base_Column_List">
    factor_id, scope, category, unit
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from emissionfactors
    where factor_id = #{factorId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from emissionfactors
    where factor_id = #{factorId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cfc.cfcbackend.db.po.EmissionFactors">
    insert into emissionfactors (factor_id, scope, category, 
      unit)
    values (#{factorId,jdbcType=INTEGER}, #{scope,jdbcType=CHAR}, #{category,jdbcType=VARCHAR}, 
      #{unit,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cfc.cfcbackend.db.po.EmissionFactors">
    insert into emissionfactors
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="factorId != null">
        factor_id,
      </if>
      <if test="scope != null">
        scope,
      </if>
      <if test="category != null">
        category,
      </if>
      <if test="unit != null">
        unit,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="factorId != null">
        #{factorId,jdbcType=INTEGER},
      </if>
      <if test="scope != null">
        #{scope,jdbcType=CHAR},
      </if>
      <if test="category != null">
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="unit != null">
        #{unit,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cfc.cfcbackend.db.po.EmissionFactors">
    update emissionfactors
    <set>
      <if test="scope != null">
        scope = #{scope,jdbcType=CHAR},
      </if>
      <if test="category != null">
        category = #{category,jdbcType=VARCHAR},
      </if>
      <if test="unit != null">
        unit = #{unit,jdbcType=VARCHAR},
      </if>
    </set>
    where factor_id = #{factorId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cfc.cfcbackend.db.po.EmissionFactors">
    update emissionfactors
    set scope = #{scope,jdbcType=CHAR},
      category = #{category,jdbcType=VARCHAR},
      unit = #{unit,jdbcType=VARCHAR}
    where factor_id = #{factorId,jdbcType=INTEGER}
  </update>
</mapper>