<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cfc.cfcbackend.db.mappers.Mobilecombustionco2Mapper">
  <resultMap id="BaseResultMap" type="com.cfc.cfcbackend.db.po.Mobilecombustionco2">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="mobile_combustion_id" jdbcType="INTEGER" property="mobileCombustionId" />
    <result column="fuel_type" jdbcType="VARCHAR" property="fuelType" />
    <result column="co2_factor_kgCo2_per_unit" jdbcType="REAL" property="co2FactorKgco2PerUnit" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
  </resultMap>
  <sql id="Base_Column_List">
    id, mobile_combustion_id, fuel_type, co2_factor_kgCo2_per_unit, unit
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mobilecombustionco2
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByFuelType" resultType="com.cfc.cfcbackend.db.po.Mobilecombustionco2">
    select
    <include refid="Base_Column_List" />
    from mobilecombustionco2
    where fuel_type = #{fuel_type,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from mobilecombustionco2
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cfc.cfcbackend.db.po.Mobilecombustionco2">
    insert into mobilecombustionco2 (id, mobile_combustion_id, fuel_type, 
      co2_factor_kgCo2_per_unit, unit)
    values (#{id,jdbcType=INTEGER}, #{mobileCombustionId,jdbcType=INTEGER}, #{fuelType,jdbcType=VARCHAR}, 
      #{co2FactorKgco2PerUnit,jdbcType=REAL}, #{unit,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cfc.cfcbackend.db.po.Mobilecombustionco2">
    insert into mobilecombustionco2
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="mobileCombustionId != null">
        mobile_combustion_id,
      </if>
      <if test="fuelType != null">
        fuel_type,
      </if>
      <if test="co2FactorKgco2PerUnit != null">
        co2_factor_kgCo2_per_unit,
      </if>
      <if test="unit != null">
        unit,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="mobileCombustionId != null">
        #{mobileCombustionId,jdbcType=INTEGER},
      </if>
      <if test="fuelType != null">
        #{fuelType,jdbcType=VARCHAR},
      </if>
      <if test="co2FactorKgco2PerUnit != null">
        #{co2FactorKgco2PerUnit,jdbcType=REAL},
      </if>
      <if test="unit != null">
        #{unit,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cfc.cfcbackend.db.po.Mobilecombustionco2">
    update mobilecombustionco2
    <set>
      <if test="mobileCombustionId != null">
        mobile_combustion_id = #{mobileCombustionId,jdbcType=INTEGER},
      </if>
      <if test="fuelType != null">
        fuel_type = #{fuelType,jdbcType=VARCHAR},
      </if>
      <if test="co2FactorKgco2PerUnit != null">
        co2_factor_kgCo2_per_unit = #{co2FactorKgco2PerUnit,jdbcType=REAL},
      </if>
      <if test="unit != null">
        unit = #{unit,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cfc.cfcbackend.db.po.Mobilecombustionco2">
    update mobilecombustionco2
    set mobile_combustion_id = #{mobileCombustionId,jdbcType=INTEGER},
      fuel_type = #{fuelType,jdbcType=VARCHAR},
      co2_factor_kgCo2_per_unit = #{co2FactorKgco2PerUnit,jdbcType=REAL},
      unit = #{unit,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>