<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cfc.cfcbackend.db.mappers.StationarycombustionfactorsMapper">
  <resultMap id="BaseResultMap" type="com.cfc.cfcbackend.db.po.Stationarycombustionfactors">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="factor_id" jdbcType="INTEGER" property="factorId" />
    <result column="fuel_type" jdbcType="VARCHAR" property="fuelType" />
    <result column="co2_factor_kgco2_per_mmbtu" jdbcType="REAL" property="co2FactorKgco2PerMmbtu" />
    <result column="ch4_factor_gch4_per_mmbtu" jdbcType="REAL" property="ch4FactorGch4PerMmbtu" />
    <result column="n2o_factor_gn2o_per_mmbtu" jdbcType="REAL" property="n2oFactorGn2oPerMmbtu" />
    <result column="co2_factor_kgco2_per_unit" jdbcType="REAL" property="co2FactorKgco2PerUnit" />
    <result column="ch4_factor_gch4_per_unit" jdbcType="REAL" property="ch4FactorGch4PerUnit" />
    <result column="n2o_factor_gn2o_per_unit" jdbcType="REAL" property="n2oFactorGn2oPerUnit" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
  </resultMap>
  <sql id="Base_Column_List">
    id, factor_id, fuel_type, co2_factor_kgco2_per_mmbtu, ch4_factor_gch4_per_mmbtu, 
    n2o_factor_gn2o_per_mmbtu, co2_factor_kgco2_per_unit, ch4_factor_gch4_per_unit, n2o_factor_gn2o_per_unit, 
    unit
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from stationarycombustionfactors
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from stationarycombustionfactors
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cfc.cfcbackend.db.po.Stationarycombustionfactors">
    insert into stationarycombustionfactors (id, factor_id, fuel_type, 
      co2_factor_kgco2_per_mmbtu, ch4_factor_gch4_per_mmbtu, 
      n2o_factor_gn2o_per_mmbtu, co2_factor_kgco2_per_unit, 
      ch4_factor_gch4_per_unit, n2o_factor_gn2o_per_unit, unit
      )
    values (#{id,jdbcType=INTEGER}, #{factorId,jdbcType=INTEGER}, #{fuelType,jdbcType=VARCHAR}, 
      #{co2FactorKgco2PerMmbtu,jdbcType=REAL}, #{ch4FactorGch4PerMmbtu,jdbcType=REAL}, 
      #{n2oFactorGn2oPerMmbtu,jdbcType=REAL}, #{co2FactorKgco2PerUnit,jdbcType=REAL}, 
      #{ch4FactorGch4PerUnit,jdbcType=REAL}, #{n2oFactorGn2oPerUnit,jdbcType=REAL}, #{unit,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cfc.cfcbackend.db.po.Stationarycombustionfactors">
    insert into stationarycombustionfactors
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="factorId != null">
        factor_id,
      </if>
      <if test="fuelType != null">
        fuel_type,
      </if>
      <if test="co2FactorKgco2PerMmbtu != null">
        co2_factor_kgco2_per_mmbtu,
      </if>
      <if test="ch4FactorGch4PerMmbtu != null">
        ch4_factor_gch4_per_mmbtu,
      </if>
      <if test="n2oFactorGn2oPerMmbtu != null">
        n2o_factor_gn2o_per_mmbtu,
      </if>
      <if test="co2FactorKgco2PerUnit != null">
        co2_factor_kgco2_per_unit,
      </if>
      <if test="ch4FactorGch4PerUnit != null">
        ch4_factor_gch4_per_unit,
      </if>
      <if test="n2oFactorGn2oPerUnit != null">
        n2o_factor_gn2o_per_unit,
      </if>
      <if test="unit != null">
        unit,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="factorId != null">
        #{factorId,jdbcType=INTEGER},
      </if>
      <if test="fuelType != null">
        #{fuelType,jdbcType=VARCHAR},
      </if>
      <if test="co2FactorKgco2PerMmbtu != null">
        #{co2FactorKgco2PerMmbtu,jdbcType=REAL},
      </if>
      <if test="ch4FactorGch4PerMmbtu != null">
        #{ch4FactorGch4PerMmbtu,jdbcType=REAL},
      </if>
      <if test="n2oFactorGn2oPerMmbtu != null">
        #{n2oFactorGn2oPerMmbtu,jdbcType=REAL},
      </if>
      <if test="co2FactorKgco2PerUnit != null">
        #{co2FactorKgco2PerUnit,jdbcType=REAL},
      </if>
      <if test="ch4FactorGch4PerUnit != null">
        #{ch4FactorGch4PerUnit,jdbcType=REAL},
      </if>
      <if test="n2oFactorGn2oPerUnit != null">
        #{n2oFactorGn2oPerUnit,jdbcType=REAL},
      </if>
      <if test="unit != null">
        #{unit,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cfc.cfcbackend.db.po.Stationarycombustionfactors">
    update stationarycombustionfactors
    <set>
      <if test="factorId != null">
        factor_id = #{factorId,jdbcType=INTEGER},
      </if>
      <if test="fuelType != null">
        fuel_type = #{fuelType,jdbcType=VARCHAR},
      </if>
      <if test="co2FactorKgco2PerMmbtu != null">
        co2_factor_kgco2_per_mmbtu = #{co2FactorKgco2PerMmbtu,jdbcType=REAL},
      </if>
      <if test="ch4FactorGch4PerMmbtu != null">
        ch4_factor_gch4_per_mmbtu = #{ch4FactorGch4PerMmbtu,jdbcType=REAL},
      </if>
      <if test="n2oFactorGn2oPerMmbtu != null">
        n2o_factor_gn2o_per_mmbtu = #{n2oFactorGn2oPerMmbtu,jdbcType=REAL},
      </if>
      <if test="co2FactorKgco2PerUnit != null">
        co2_factor_kgco2_per_unit = #{co2FactorKgco2PerUnit,jdbcType=REAL},
      </if>
      <if test="ch4FactorGch4PerUnit != null">
        ch4_factor_gch4_per_unit = #{ch4FactorGch4PerUnit,jdbcType=REAL},
      </if>
      <if test="n2oFactorGn2oPerUnit != null">
        n2o_factor_gn2o_per_unit = #{n2oFactorGn2oPerUnit,jdbcType=REAL},
      </if>
      <if test="unit != null">
        unit = #{unit,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cfc.cfcbackend.db.po.Stationarycombustionfactors">
    update stationarycombustionfactors
    set factor_id = #{factorId,jdbcType=INTEGER},
      fuel_type = #{fuelType,jdbcType=VARCHAR},
      co2_factor_kgco2_per_mmbtu = #{co2FactorKgco2PerMmbtu,jdbcType=REAL},
      ch4_factor_gch4_per_mmbtu = #{ch4FactorGch4PerMmbtu,jdbcType=REAL},
      n2o_factor_gn2o_per_mmbtu = #{n2oFactorGn2oPerMmbtu,jdbcType=REAL},
      co2_factor_kgco2_per_unit = #{co2FactorKgco2PerUnit,jdbcType=REAL},
      ch4_factor_gch4_per_unit = #{ch4FactorGch4PerUnit,jdbcType=REAL},
      n2o_factor_gn2o_per_unit = #{n2oFactorGn2oPerUnit,jdbcType=REAL},
      unit = #{unit,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>